/* src/main/resources/login.css */
.root {
    -fx-font-family: 'Arial';
}

.tab-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
}

.tab {
    -fx-background-color: #ffffff;
    -fx-text-base-color: #333333;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #45a049;
}